<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tailwind practise</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body>
    <div>
        <div>
            <h1 class="font-black text-blue-700 text-3xl normal-case text-center">
                Welcome to my tailwind course!
            </h1>

            <h2 class="underline text-xl lowercase text-green-200 text-right">
                created by tommy karja
            </h2>

            <p class="font-thin text-lg italic capitalize text-grey-600 text-justify">
                Lorem ipsum dolor sit amet <span class="not-italic">consectetur</span> adipisicing elit. Velit minima distinctio aut eligendi accusantium, placeat accusamus reiciendis praesentium eveniet voluptatibus, perferendis perspiciatis laboriosam. Officia nisi id nesciunt soluta aut unde.                
            </p>

            <p class="text-green-900 text-9xl">efefef</p>
 
        </div>
    </div>
</body>
</html>